/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
/* /RESET */

/* COMMON */
.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* /COMMON */

/* HEADER */
header{
    width: 100%;
    background-color: orange;
    color: white;
    position: fixed;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
}
.logo{
    width: calc(100% / 3);
}
.logo img{
    width: 200px;
    line-height: 30px;
}
.div-header a{
    display: inline-block;
    text-decoration: none;
    padding: .5em;
    line-height: 30px;
    color: white;
}
.categories{
    line-height: 30px;
}
/* /HEADER */

/* MAIN */
main .row{
    gap: 10px;
    margin-top: 3.5em;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 3 - 10px);
    padding: .5em;
}
.card{
    margin-top: 1em;
    position: relative;
}
.first-img, .seconde-img{
    display: block;
}
.first-img{
    position:absolute;
    top: 0;
}
.card:hover .first-img{
    display: none;
}
.card .love{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 5;
    color: white;
}
.love:hover{
    color: red;
}
.card .ticket{
    position: absolute;
    top: 90%;
    color: white;
    z-index: 5;
}
.ticket .discount{
    display: inline-block;
    background-color: red;
    margin-right: .2em;
}
.ticket .quality{
    display: inline-block;
    background-color: green;
}
.info-card p.prix{
    color: red;
}
.info-card p.marque{
    color: grey;
}
.info-card p.prix span{
    color: grey;
    text-decoration:line-through;
}
/* /MAIN */
/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1f1d1d;
    padding: 1em;
}
footer .links a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: .7em;
    margin-right: .5em;
}
/* /FOOTER */